{% extends "base.html" %}
{% block content %}
<!--이 곳에 페이지의 내용 작성-->

<div class="write">
    <h1>글쓰기</h1>
    <form action="/post/create/" method="post" enctype="multipart/form-data">
    {%csrf_token%}
        <!-- {{post_form.as_p }}  -->
        <!-- <p></p> 다 써준다는데 안되네-->
        <input type="text" name="title" class="title" placeholder="title"/>
        <br>
        <textarea name="content" class="content" placeholder="content" required></textarea>
        <br>
        <input type="file" name="image" class="image" multiple />
        <br>
        <input type="file" name="file" class="file" multiple />
        <br>
        <!--    
    수동
    {% for image in images %}
    <img src="{{ MEDIA_URL }}{{ image.image.url }}" alt="Image">
    {% endfor %}

    {% for file in files %}
        <a href="{{ MEDIA_URL }}{{ file.file.url }}" download>{{ file.file.name }}</a>
    {% endfor %}
-->
        <button type="submit">저장</button>
        <br>
    </form>
</div>
<a href="/post/"><button>목록</button></a>
{% endblock %}